* {
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  background-color: #111;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

canvas {
    margin: 0 auto;
}
